<div class="modal-dialog__content modal-dialog__content--sectioned">
  <ul class="link-list link-list--bordered">
    {{#each roadsignsWithConcepts as |roadsignAndConcept|}}
      <li class="link-list__item u-padding--round--tiny">
        <div class="grid">
          <div class="col--3-12">
            <div>
              {{editor-plugins/roadsign-image roadsignConcept=roadsignAndConcept.roadsignConcept}}
            </div>
          </div>
          <div class="col--9-12">
            {{roadsignAndConcept.roadsign.address}}
            {{#wu-button-group}}
              {{wu-button label="Maak nieuw artikel" onClick=(action "insert" roadsignAndConcept) class="button--narrow button--small u-spacer--bottom--tinier"}}
              {{#if isHintFromArticle}}
                {{wu-button label="Voeg toe aan huidig artikel" onClick=(action "addToArticle" roadsignAndConcept) class="button--narrow button--alt button--small u-spacer--bottom--tinier"}}
              {{/if}}
            {{/wu-button-group}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
